#project-users {
    width: 300px;
    margin: 0 0 20px 50px;
    text-align: center;
    border-left: 2px solid;
    border-image: linear-gradient(#f5af19, #f12711) 0 100%;
}

#project-users-header {
    display: flex;
    justify-content: space-between;
}

#project-users-title {
    display: inline-block;
    text-align: left;
    font-size: 24px;
    margin: 0 0 10px 15px;
}

.users-list{
    height: 100%;
    overflow: auto;
}

.user-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    margin: 0 15px;
    border-bottom: 1px solid rgb(236, 236, 236);
    transition: transform 0.4s;
    list-style-type: none;
}

.remove-user-button {
    padding: 5px;
    font-size: 10px;
    float: right;
    font-weight: bold;
    color: rgb(182, 181, 181);
}

.remove-user-button:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(#f5af19, #f12711);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-field:hover {
    transform: scale(1.05);
}
