#projects{
    width: 90%;
    margin: 0 auto 0 auto;
    background-color: white;
    padding: 20px 0;
}

#projects-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#projects-title{
    display: inline-block;
}