#form-button {
    z-index: 100;
    margin-top: 30px;
    width: 100%;
    padding: 15px 0;
    text-transform: uppercase;
    border-radius: 25px;
    border: none;
    font-weight: bolder;
    font-family: inherit;
    background-image: linear-gradient(
        90deg,
        #f12711 0%,
        #f5af19 50%,
        #f12711 100%
    );
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s;
}

#form-button:hover {
    background-position: left;
    cursor: pointer;
    outline: none;
}

.loading-animation{
    animation: loading 2s infinite;
}

@keyframes loading {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}

#form-button:focus {
    outline: none;
}