#select {
    width: 100%;
    height: 50px;
}

#select-wrapper:after {
    content: '';
    display: block;
    background-image: linear-gradient(90deg, #f5af19 0%, #f12711 100%);
    height: 2px;
    width: 100%;
}