#tasks {
    width: 90%;
    margin: 0 auto 0 auto;
    background-color: white;
    padding: 20px 0;
}

#tasks-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

#tasks-title {
    display: inline-block;
    font-size: 24px;
}
