@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
.spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border: 3px solid #ffd6bd;
    border-top-color: white;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

.page-spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}

.block-spinner{
    margin-top: 25px;
    width: 40px;
    height: 40px;
}
