#task-breadcrumb{
    font-size: 14px;
    color: rgb(112, 112, 112);
}

#task-breadcrumb a:hover{
    color: #f36a15;
    cursor: pointer;
}

#task-breadcrumb a:last-child:hover{
    color: inherit;
    cursor: default;
}

#task-breadcrumb a:after{
    content: ' > ';
}

#task-breadcrumb a:last-child:after{
    content: '';
}